/* app css stylesheet */

body {
  padding-top: 20px;
}

.video_list {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.video_list li {
  clear: both;
  height: 200px;
  padding-top: 15px;
}
