/* app css stylesheet */

body {
  padding-top: 20px;
}

tr:nth-child(odd)		{ background-color:#dddddd; }
tr:nth-child(even)		{ background-color:#eeeeee; }

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  width: 200px;
}

.tooltip-inner {
  max-width: 400px !important;
  text-align: left !important;
}
